/**************************
GENERAL
**************************/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #4A7E94;
  color: #B3C4CC
}

nav {
  padding-top: 20px;
}

.mainNavigation ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

.mainNavigation li {
  background-color: #1C5B76;
  margin-bottom: 10px;
  padding: 10px 0;
  color: #fff;
  max-width: 100%;
  text-align: center;
}

.mainNavigation a {
  text-decoration: none;
  color: #B3C4CC;
  display: block;
  max-width: 100%;
}

.mainNavigation a:hover {
  color: #043C54;
}

footer {
   position:absolute;
   display: inline-block;
   width:90%;
   margin-left: auto;
   margin-right: auto;
}

#footerLogos {
  max-width: 30%;
}

footer p {
  text-align: center;
}

/**************************
HOME PAGE
**************************/

#homePage {
	background-size: 100%;
  background-image: url("../images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 55%;
}

#homePage img {
  opacity: 0.4;
}

#homePage h1 {
  margin-top: 110px;
  text-align: center;
  font-size: 3em;
  font-family: "cormorant garamond";
  -webkit-text-stroke: 1px black;

}

div#homePageBlurb {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div#homePageBlurb p {
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}


/**************************
HISTORY PAGE
**************************/

#historyPage {
	background-color:  #1C5B76;
	margin: 0;
	padding: 0;
}

#history-content {
	border: 2px solid blue;
	margin: 15px auto;
	width: 85%;
	display: block;
}

#history-content ul {
	margin: auto;
	padding: 0;
	width: inherit;
	height: inherit;
}

#history-content ul li {
	width: 100%;
	margin: 10px 0;
	list-style: none;
}

#history-left {
	border: 2px solid yellow;
}

#history-left img {
	display: block;
	margin: auto;
	width: 40%;
}

/*#filler-image1 {
	width: 20%;
	height: 150px;
	margin: 0;
	border: 2px solid lightblue;
	background-size: 100% 100%;
	background-image: url("../images/filler-photo1.png");
}*/

#history-right {
	border: 2px solid purple;

}

#history-right img {
	display: block;
	margin: auto;
	width: 40%;
}

/*#filler-image2 {
	width: 20%;
	height: 150px;
	border: 2px solid red;
	background-size: 100% 100%;
	background-image: url("../images/filler-photo2.png");
}*/

#history-bottom-image {
		display: block;
		width: 95%;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("../images/history-footer.jpg");
		background-repeat: no-repeat;
		border: 2px solid red;
}

@media screen and (min-width: 480px) {

	#history-bottom-image {
		width: 100%;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("../images/history-footer-medium.jpg");
		background-repeat: no-repeat;
		border: 2px solid red;
	}

}

@media screen and (min-width: 660px) {

	#history-bottom-image {
		width: 100%;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("../images/history-footer-large.jpg");
		background-repeat: no-repeat;
		border: 2px solid red;
	}

}

@media screen and (min-width: 800px) {

	#history-bottom-image {
		width: 100%;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("../images/history-footer-Xlarge.jpg");
		background-repeat: no-repeat;
		border: 2px solid red;
	}

}

/**************************
PRODUCTS PAGE
**************************/

/*
 * < 480
 * > 660
*/



.earPlug{
	background-color: white;
	width: 75%;
	color: #043C54;
	margin: 5%;
	border-style: solid;
	border-color: black;
}

.plugImageContainer{
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}

.plugImageContainer img{
	width: 100%;
	height: 100%;
	min-width: 199px;
}

.plugDetails{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
}

.plugDetails h5{
	font-size: .9em;
}

.plugHeader{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #043C54;
	color: #B3C4CC;
}


#productsPage{
	background-color: #1C5B76;
}

#cardContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 10%;
	margin-right: 10%;
}

@media screen and (max-width: 480px){
	.earPlug{
		width: 100%;
		margin: 5% 1% 5% 1%;
		padding: 5%;
	}

	#productsNavigation h3{
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media screen and (min-width: 660px){
	.earPlug{
		width: 40%;
		margin: 2%;
	}

	#productsNavigation li{
		margin-left: 30%;
		margin-right: 30%;
	}
}

@media screen and (min-width: 1100px){
	.earPlug{
		width: 25%;
		margin: 2%;
	}

		#productsNavigation li{
		margin-left: 30%;
		margin-right: 30%;
	}
}

@media screen and (min-width: 1400px){
	.earPlug{
		width: 18%;
		margin: 1%;
	}

	#productsNavigation li{
		margin-left: 40%;
		margin-right: 40%;
	}
}

#productsNavigation{
	background-color: #043C54;
	padding-bottom: 1%;
}

#productsNavigation li{
	margin-left: 9%;
	margin-right: 9%;
}


/**************************
CONTACTS PAGE
**************************/

.locations {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	text-align: left;
	font-size: 1em;
	padding: 2em;
}

.locations img {
	width: 341px;
	height: 226px;
}

.emailUs {
	text-align: center;
	font-size: 2em;
}

.social {
	display: flex;
	width: 22%;
}

.contactBanner {
	width: 100%;
}




/**************************
FOOTER
**************************/




/**************************
MEDIA QUERIES
**************************/

@media screen and (min-width: 480px) {
  
}

@media screen and (min-width: 660px) {

}


