/**************************
GENERAL
**************************/



/**************************
HOME PAGE
**************************/



/**************************
HISTORY PAGE
**************************/

#historyPage {
	background-color:  #1C5B76;
	margin: 0;
	padding: 0;
}

#history-content {
	border: 2px solid blue;
	margin: 15px auto;
	width: 85%;
	display: block;
}

#history-content ul {
	margin: auto;
	padding: 0;
	width: inherit;
	height: inherit;
}

#history-content ul li {
	width: 100%;
	margin: 10px 0;
	list-style: none;
}

#history-left {
	border: 2px solid yellow;
}

#history-left img {
	display: block;
	margin: auto;
	width: 40%;
}

/*#filler-image1 {
	width: 20%;
	height: 150px;
	margin: 0;
	border: 2px solid lightblue;
	background-size: 100% 100%;
	background-image: url("../images/filler-photo1.png");
}*/

#history-right {
	border: 2px solid purple;

}

#history-right img {
	display: block;
	margin: auto;
	width: 40%;
}

/*#filler-image2 {
	width: 20%;
	height: 150px;
	border: 2px solid red;
	background-size: 100% 100%;
	background-image: url("../images/filler-photo2.png");
}*/

#history-bottom-image {
		display: block;
		width: 95%;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("../images/history-footer.jpg");
		background-repeat: no-repeat;
		border: 2px solid red;
}

@media screen and (min-width: 480px) {

	#history-bottom-image {
		width: 100%;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("../images/history-footer-medium.jpg");
		background-repeat: no-repeat;
		border: 2px solid red;
	}

}

@media screen and (min-width: 660px) {

	#history-bottom-image {
		width: 100%;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("../images/history-footer-large.jpg");
		background-repeat: no-repeat;
		border: 2px solid red;
	}

}

@media screen and (min-width: 800px) {

	#history-bottom-image {
		width: 100%;
		height: 100px;
		background-size: 100% 100%;
		background-image: url("../images/history-footer-Xlarge.jpg");
		background-repeat: no-repeat;
		border: 2px solid red;
	}

}

/**************************
PRODUCTS PAGE
**************************/



/**************************
CONTACTS PAGE
**************************/



/**************************
FOOTER
**************************/

